html {
    scroll-behavior: smooth;
}
.nav-item:hover{
    border: 1px;
    border-radius: 10%;
    animation: dark 2s;
}

@keyframes dark {
    0% {

    }
    100% {
        background-color: rgb(196, 0, 0);
        color: white;
    }
    
}